<mat-card>
  <mat-card-title>
    Template engine
  </mat-card-title>
  <mat-card-content>
  <div class="container" >
    <div class="columns col-12">
    <div class="columns col-6">
      <mat-card class="full-card">
      <form [formGroup]="templateContentFrom" class="form-full-width" >
      <mat-form-field class="form-fields-full-width">
        <mat-label>Company</mat-label>
        <input matInput class="form-input" formControlName="company"  type="text"  placeholder="Name">
      </mat-form-field>
    <br>
      <mat-form-field class="form-fields-full-width">
          <mat-label>Job Position</mat-label>
          <input class="form-input" formControlName="position" matInput  type="text"  placeholder="Name">
      </mat-form-field>
        <mat-form-field class="form-fields-full-width">
          <mat-label>Template</mat-label>
          <mat-select formControlName="template">
            <mat-option  *ngFor="let template of templates;index as i" value="{{template.name}}">{{i}}-{{template.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </mat-card>
    </div>

    <div class="columns col-6">
      <app-content [content]="getContent()"></app-content>

    </div>
  </div>
  </div>
  </mat-card-content>
</mat-card>
